<!DOCTYPE HTML>
<html>
    <head>
        <title>Getting Started: Serving Web Content</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>Hello, {{ name }}!</p>
        <img src="data:image/png;base64, {{ captcha }}" />
        <form action="/" method="post">
            <div>Id:</div>
            <input type="text" name="user_id"><br>
            <div>Answer:</div>
            <input type="text" name="captcha_ans"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>